.card__status {
  cursor: pointer;
  display: flex;
  align-self: flex-end;
  margin-bottom: 3px;
  max-width: 150px;
  max-height: 20px;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #000;
}

.card__status:hover {
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.5);
}


.card__status_type_isdead {
  background-color: red;
}

.card__status_type_isdead:hover {
  background-color: red;
  box-shadow: none;
  cursor: auto;
}

.card__status_type_complete {
  background-color: green;
}