.page {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  max-width: 890px;
  width: 100%;
}

.new-card-button {
  cursor: pointer;
  display: flex;
  align-self: flex-end;
  background-image: url('../../images/add-svgrepo-com.svg');
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 7px 7px 20px 6px rgba(71, 70, 69, 0.62);
  -moz-box-shadow: 7px 7px 20px 6px rgba(71, 70, 69, 0.62);
  box-shadow: 7px 7px 20px 6px rgba(71, 70, 69, 0.62);
}

.new-card-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 910px) {
  .new-card-button {
    margin-right: 20px;
  }
}