.page {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

.new-card-button {
  cursor: pointer;
  display: flex;
  align-self: flex-end;
  background-image: url('./image/add-svgrepo-com.svg');
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 7px 7px 20px 6px rgba(71, 70, 69, 0.62);
  -moz-box-shadow: 7px 7px 20px 6px rgba(71, 70, 69, 0.62);
  box-shadow: 7px 7px 20px 6px rgba(71, 70, 69, 0.62);
}